/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  font-family: Arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
  color: #000;
  padding-left: 15px;
  line-height: 40px;
  cursor: pointer;
}
footer a {
  padding-left: 27px;
}
#about {
  margin-left: 10px;
}
.header {
  margin-top: 10px;
}
.right-align {
  margin-right: 15px;
}
.grid {
  background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
  background-size: 528px 68px;
  background-position-x: -132px;
  background-position-y: -38px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: rgb(0, 0, 0);
  line-height: normal;
  opacity: 0.55;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}
a:hover {
  text-decoration: underline;
}
main {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-logo {
  padding-top: 109px;
  height: 92px;
  width: 272px;
}
.search-input {
  height: 44px;
  width: 482px;
  border: 1px solid #dfe1e5;
  background: #fff;
  border-radius: 24px
}
nav {
  display: flex;
  justify-content: space-between;
  height: 35px;
}
.account {
  background: #4285f4;
  color: white;
  font-weight: bold;
  padding: 0px 12px;
  line-height: 28px;
  border: none;
}
.search {
  background: #f2f2f2;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  font-size: 14px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
}
.search:hover{
  border: 1px solid #c6c6c6;
}
nav.footer {
  background: #f4f4f4;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}